.servicios {
    padding: 50px;
    background-color: #f1f1f1;
    text-align: center;
  
    h1 {
      font-size: 2.5rem;
      color: #8b5e3c;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.2rem;
      color: #444;
      margin-bottom: 40px;
    }
  
    .servicio-card {
      display: inline-block;
      width: 30%;
      margin: 15px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: translateY(-10px);
      }
  
      .servicio-img {
        width: 100%;
        height: auto;
      }
  
      h2 {
        font-size: 1.8rem;
        margin: 15px 0;
        color: #8b5e3c;
      }
  
      p {
        font-size: 1rem;
        margin-bottom: 20px;
        color: #777;
      }
    }
  
    @media (max-width: 768px) {
      .servicio-card {
        width: 100%;
      }
    }
  }
  