<section class="galeria">
    <h1>Galería de La Reunida</h1>
    <div class="galeria-grid">
      <img src="assets/galeria1.jpg" alt="Galería 1" class="galeria-img">
      <img src="assets/galeria2.jpg" alt="Galería 2" class="galeria-img">
      <img src="assets/galeria3.jpg" alt="Galería 3" class="galeria-img">
      <img src="assets/galeria4.jpg" alt="Galería 4" class="galeria-img">
      <img src="assets/galeria5.jpg" alt="Galería 5" class="galeria-img">
      <img src="assets/galeria6.jpg" alt="Galería 6" class="galeria-img">
    </div>
  </section>
  