<section class="galeria">
  <div class="container">
    <div class="logo-nosotros">
      <img src="assets/logo.png" alt="Logo La Reunida">
    </div>

    <nav class="nav-nosotros">
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
        <li><a routerLink="/servicios">Servicios</a></li>
        <li><a routerLink="/contacto">Contáctanos</a></li>
      </ul>
    </nav>

    <div class="division"></div>

    <h1>Galería de La Reunida</h1>


    <div class="division"></div>



    <div class="galeria-grid">
      <img src="assets/galeria2.jpg" alt="Galería 1" class="galeria-img">
      <img src="assets/galeria14.jpg" alt="Galería 2" class="galeria-img">
      <img src="assets/galeria13.jpg" alt="Galería 3" class="galeria-img">
      <img src="assets/galeria4.jpg" alt="Galería 4" class="galeria-img">
      <img src="assets/galeria5.jpg" alt="Galería 5" class="galeria-img">
      <img src="assets/galeria6.jpg" alt="Galería 6" class="galeria-img">
      <img src="assets/galeria7.jpg" alt="Galería 7" class="galeria-img">
      <img src="assets/galeria8.jpg" alt="Galería 8" class="galeria-img">
      <img src="assets/galeria9.jpg" alt="Galería 9" class="galeria-img">
      <img src="assets/galeria10.jpg" alt="Galería 10" class="galeria-img">
      <img src="assets/galeria11.jpg" alt="Galería 11" class="galeria-img">
      <img src="assets/galeria12.jpg" alt="Galería 12" class="galeria-img">
      <img src="assets/galeria1.jpg" alt="Galería 13" class="galeria-img">
      <img src="assets/galeria3.jpg" alt="Galería 14" class="galeria-img">
      <img src="assets/galeria15.jpg" alt="Galería 15" class="galeria-img">
      <img src="assets/galeria16.jpg" alt="Galería 16" class="galeria-img">
      <img src="assets/galeria17.jpg" alt="Galería 17" class="galeria-img">
      <img src="assets/galeria18.jpg" alt="Galería 18" class="galeria-img">
      <img src="assets/galeria19.jpg" alt="Galería 19" class="galeria-img">
      <img src="assets/galeria20.jpg" alt="Galería 20" class="galeria-img">
      <img src="assets/galeria21.jpg" alt="Galería 21" class="galeria-img">
      <img src="assets/galeria22.jpg" alt="Galería 22" class="galeria-img">
      <img src="assets/galeria23.jpg" alt="Galería 23" class="galeria-img">
      <img src="assets/galeria24.jpg" alt="Galería 24" class="galeria-img">
    </div>
  </div>
</section>


<footer class="footer">
  <div class="container">
    <p>&copy; 2025 La Reunida. Todos los derechos reservados.</p>
  </div>
</footer>
